# Node.js dependencies
node_modules/
codevortex-f9667-firebase-adminsdk-fbsvc-04726e35f2.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# IDE specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db